{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css') }}" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<style>
    .centered-container {
    text-align: center; /* Centra el texto dentro del contenedor */
    margin: 20px 0; 
}
    .image-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    .image-box {
        text-align: center;
    }

    .image-box img {
        width: 700px;
        height: 450px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .image-box h3 {
        margin-bottom: 10px;
    }
</style>
{% endblock %}
{% block content %}
<h1>Selecciona el tipo de prueba estadística y el tamaño de la celda</h1>
    <form action="{{ url_for('main.tarea3') }}" method="POST">
        <label for="test_type">Selecciona el test:</label>
        <select id="test_type" name="test_type">
            <option value="fisher">Test de Fisher</option>
            <option value="chi">Test de Chi-cuadrado</option>
        </select>
        <br><br>
        <label for="cell_size">Tamaño de la celda:</label>
        <input type="number" id="cell_size" name="cell_size" min="1" value="2">
        <br><br>
        <button type="submit">Ejecutar prueba</button>
    </form>
{% endblock %}
